.button {

  width: 10rem;
  height: 3rem;

  background: #7846FF;
  border-radius: 10px;
  border:none;

  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;

  color: #FFFFFF;

  &:hover {
    cursor: pointer;
  }
}
