.header-textbox {
  box-sizing: border-box;
  background: #FFFFFF;
  mix-blend-mode: normal;
  border: 1px solid rgba(120, 70, 255, 0.3);
  border-radius: 6px;
  width: 40px;
  height: 25px;
  text-align: center;
  margin: 0 2px;
}
