.textbox__container {

  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .textbox {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    padding-right: 3rem;
    padding-left: 1rem;
    border: 1px solid rgba(120, 70, 255, 0.3);
    box-sizing: border-box;
    border-radius: 10px;

    &::placeholder {
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      /* identical to box height, or 154% */
      letter-spacing: 0.01em;
      font-feature-settings: 'tnum' on, 'lnum' on;

      color: #919191;

      mix-blend-mode: normal;
    }
  }

  .icon__container {
    width: 0;
    .icon {
      left: -2rem;
      position: relative;
      width: auto;
      height: 14px;
    }
  }
}
